.header{
	display: flex;

	.left-area{
		min-width: 185px;
		padding: 5px;
        margin: 0 2px 0 0;
	}
	.main-area{
		flex: 1 0 auto;
		min-width: 410px;
		padding: 5px 5px;
        margin: 0 2px 0 0;

        .app-header{
          user-select: none;
        	font-weight: bold;
        	font-size: 20px;
        	text-transform: uppercase;
        	border: 1px solid #e9e9e9;
  			background-color: #d2d2d2;
  			padding: 5px 10px;
  			min-width: 190px;
  			width: 190px;
  			border-radius: 15px;

  			a{
  				text-decoration: none;
  				color: #fff;
  			}
        }
	}
	.right-area{
		min-width: 190px;
		padding: 5px;
	}
}