/* Variables */


/* Styles */
body, html {
  height: 100%;
  overflow: hidden;
}
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 950px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300px;
}

* {
  color: #505050;
}

#app{
  height: 100%;

  .main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    //background-color: #E8E8E8;

    .header{
      min-height: 55px;
    }
    .content-container{
      display: flex;
      flex-direction: row;
      flex: 1 auto; 
      min-height: 500px;

      .navigator{
        
      }
      .middle-content{
        padding: 10px 5px;
        min-width: 510px;
        flex: 1 auto;

        .content-area{
          overflow-y: auto;
          height: calc(100vh - 80px);
          margin: 0 5px 10px 5px;

          .post-cube{
            margin: 30px 0;
            border: 1px solid #d9d9d9;
            border-radius: 5px;

            .post-content{
              font-size: 13px;
              background-color: #f9f9f9;
              border-radius: 5px;
              padding: 10px 10px 0 10px;
              border-bottom: 1px solid #d9d9d9;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
            }
            .post-meta{
              height: 35px;
              border: none;
              border-radius: 5px;
              display: flex;

              .post-meta-item{
                flex: 1 0 auto;
                text-align: center;
                align-items: center;
                line-height: 35px;
                font-weight: bold;
                cursor: pointer;
                margin: 2px;
                border-radius: 5px;

                &.meta-comment, &.meta-share{
                  margin-left: 0;
                }
                &:hover{
                  background-color: #f2f2f2;
                }
              }
            }
            .post-comments-area{
              background-color: #f2f2f2;
              border-radius: 5px;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              padding: 8px 10px;
              border-top: 1px solid #d9d9d9;

              .express-comment-wrapper{

                padding: 10px 0;
                border-bottom: 1px solid #d9d9d9;

                textarea.express-comment{
                  font-size: 12.5px;
                  border-radius: 10px;
                  width: 97%;
                  padding: 7px;
                  border: 1px solid #d9d9d9;
                  resize: none;
                  height: 38px;
                }
              }
              .post-comments{
                margin: 5px;

                .post-comment{
                  padding: 6px 10px;
                  margin: 10px 0;
                  border: 1px solid #d9d9d9;
                  border-radius: 20px;
                  background-color: #fff;
                  border: none;

                  .comment-from{
                    font-size: 12.5px;
                    &:hover{
                      text-decoration: underline;
                      cursor: pointer;
                    }
                    
                  }
                  .comment-body{
                    font-size: 12.5px;
                  }

                  &:last-child{
                    margin-bottom: 0;
                  }
                }
              }
              
            }
          }
          .post-cube:first-child{
            margin: 0 0 10px 0;
          }
          .post-cube:last-child{
            margin: 10px 0 0 0;
          }
        }
      }
      .right-content{
        padding: 5px;
        min-width: 225px;
      }
    }
    .footer{
      margin: 10px 0 0 0;
      padding: 5px;
      background-color: #fff;
      height: 40px;
      flex:none;
    }
  }
  .left-area,.main-area,.right-area, {}
  .header, .navigator, .middle-content,.right-content{
    border: 1px solid #dfdfdf;
    ;
  }
  .header{
    border-bottom: none;
  }
  .navigator{
    border-right: none;
  }
  .middle-content{
    border-right: none;
  }
}

