/* Variables */


/* Styles */
body, html {
  height: 100%;
}
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 950px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300px;
  background-color: #E8E8E8;
}



#app{
  height: 100%;

  .main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #E8E8E8;

    .header{
      margin: 0 0 2px 0;
      padding: 5px;
      background-color: #fff;
      height: 45px;
      min-height: 45px;
    }
    .content-container{
      display: flex;
      flex-direction: row;
      flex: 1 auto; 
      min-height: 500px;

      .navigator{
        
      }
      .middle-content{
        padding: 10px 5px;
        margin: 0 2px 0 0;
        min-width: 490px;
        flex: 1 auto;
        background-color: #fff;

        .content-area{
          overflow-y: auto;
          height: 100%;
          margin: 0 5px 10px 5px;

          .proposal-cube{
            font-size: 13px;
            margin: 20px 0;

            .post-content{
              background-color: #f9f9f9;
              border-radius: 5px;
              padding: 10px 10px 0 10px;
              border: 1px solid #d9d9d9;
            }
            .post-comments{
              background-color: #f2f2f2;
              border-radius: 15px;
              padding: 8px 10px;
              border: 1px solid #d9d9d9;
              border-top: none;

              .express-comment{
                border-radius: 20px;
                width: 90%;
                padding: 7px;
                font-size: 14px;
                border: 1px solid #d9d9d9;
              }
            }
          }
          .proposal-cube:first-child{
            margin: 0 0 10px 0;
          }
        }
      }
      .right-content{
        padding: 5px;
        min-width: 230px;
        background-color: #fff;
      }
    }
    .footer{
      margin: 10px 0 0 0;
      padding: 5px;
      background-color: #fff;
      height: 40px;
      flex:none;
    }
  }
}

